body {
	background-color: #d7d7d7;
	font-family: "Helvetica neue", sans-serif;
	margin-left: 30px;
	margin-top: 2px;
	white-space: nowrap;
	
}

h1 {
	color: white;
	display: inline-block;
	background-color: black;
	font-weight: bold;
	font-size: 18px; 
	padding-left: 5px;
	padding-right: 7px;
	margin-bottom: 0px;
}

div.header {
  overflow: hidden;
  width: 100%;
  color: #ffffff;
}
div.header div,h2,p {
	float: left;
}
/* TODO: Need to find a better way to make this div NOT take up more space than needed, besides a fixed width */
div.header div {
	width: 220px;
}
div.header p.rules {
	width: 700px;
}

p.tagline {
	color: black;
	display: block;
	letter-spacing: 5px;
	font-size: 10px;
	margin-top: 0px;
	font-weight: bold;
}

h2 {
	color: black;
	background-color: #d7d7d7;
	letter-spacing: 0px;
	font-size: 20px;
	margin-top: 11px;
	margin-left: 6px;
	white-space: nowrap;
}

h3 {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding-left: 4px;
	padding-right: 5px;
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 19px;
	
}

p.rules {
	color: black;
	font-size: 12px;
}

ol {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 3px;
	margin-bottom:0px;
}

ol li {
	display: inline;
	padding-right: 5px;
		
}

ol li img {
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

p.footer {
	margin-top: 22px;
}

p.footer a {
	color: gray;
	text-decoration: none;
	
}

p.footer span a {
	color: black;
		
}
