body {
	background-color: #d7d7d7;
	font-family: "Helvetica neue", sans-serif;
	margin-left: 30px;
	margin-top: 2px;
	white-space: nowrap;
}

/* Dit gebied is HEADER Related */

div.header div {
	width: 220px;
	background-color: #D7D7D7;
}

div.header h1 {
	color: white;
	display: inline-block;
	background-color: black;
	font-weight: bold;
	font-size: 18px; 
	padding-left: 5px;
	padding-right: 7px;
	margin-bottom: 0px;
}

div.header h2 {
	color: black;
	background-color: #D7D7D7;
	letter-spacing: 0px;
	font-size: 20px;
	margin-top: 11px;
	margin-left: 6px;
}

div.header {
	overflow: hidden;
	color: #ffffff;
	min-width: 250px;
}

div.header div,h2,p {
	float: left;
}

p.tagline {
	background-color: #D7D7D7;
	color: black;
	display: block;
	letter-spacing: 5px;
	font-size: 10px;
	margin-top: 0px;
	font-weight: bold;
}

/* Dit gebied is ABOUT Related */

div.about {
	background-color: #000;
	margin-top: 40px;
	max-width: 335px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-top: 12px;
	white-space: normal;
}

div.about h3 {
	color: #ffffff;
	background-color: #000000;
	font-size: 14px;
	font-weight: bold;
}

div.about p {
	font-family: "Helvetica neue", sans-serif;
	color: gray;
	font-size: 15px;
}

div.about p a:link {
	color: #D7D7D7;
}
	
/* Dit gebied is FOOTER Related */

p.footer {
	margin-top: 22px;
}

p.footer a {
	color: gray;
	text-decoration: none;
	
}

p.footer span a {
	color: black;
		
}	

/* TODO: Need to find a better way to make this div NOT take up more space than needed, besides a fixed width */

/* Dit gebied is UNKNOWN */

p.about {
	color: #ffffff;
	background-color: #000000;
	font-size: 14px;
	font-weight: bold;
}

p.body {
	color: gray;
	font-size: 15px;
}


div.header p.rules {
	width: 700px;
}

div.photos h3 {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding-left: 4px;
	padding-right: 5px;
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 19px;
	
}

p.rules {
	color: black;
	font-size: 12px;
}

ol {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 3px;
	margin-bottom:0px;
}

ol li {
	display: inline;
	padding-right: 5px;
		
}

ol li img {
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

