<%= render :partial => 'duels/header' %>

<div class="about">
  <h1>ABOUT</h1>
  <text>Every week one of us sets the theme and rules for<br>
    a photo challenge. The theme sets the mood.<br>
    The rules are more specific like : <em>black & white</em>,<br>
    <em>use a 50mm lens</em>, <em>an animal in frame</em>, or <br>
    <em>fixed location</em>, anything goes.<br>
    We do this to challenge and inspire each other to<br>
    move forward in our photography, and have some<br>
    fun while we’re at it! We update every sunday.<br>
  Updated every sunday.</text>
  <h1>Who are we?</h1>
  <text>Tomas, from Amsterdam, Netherlands.<br>
  <a href="http://www.crispybison.nl">crispybison.nl</a><br>
  <br>
Jeroen, from Delft, Netherlands.<br>
  <a href="http://www.thefriendlystranger.nl">thefriendlystranger.nl</a></text>
  <h1>CONTACT</h1>
  <text><a href="mailto:shootbytherules@gmail.com">shootbytherules@gmail.com</a><br>
  <br>
  <br>
  <br>
  <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/nl/">Copyright</a> © shootbytherules.com 2012</text>
</div>
