<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SHOOT BY THE RULES • A PHOTOGRAPHIC DUEL</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

